# Quality Report - FBX Exporter Package
## Version tested: 4.1.0-pre.3

#### QA Owner: Natalia Whiteley, Mojibola Obadimeji
### Tested On: Windows, MacOS

### Test strategy

Ran TestRails test plan:
https://qatestrail.hq.unity3d.com/index.php?/runs/view/29823&group_by=cases:section_id&group_order=asc
https://qatestrail.hq.unity3d.com/index.php?/runs/view/29840&group_by=cases:section_id&group_order=asc