# Quality Report - FBX Exporter Package
## Version tested: 3.2.1-preview

#### QA Owner: Natalia Whiteley
### Tested On: Windows, MacOS

### Test strategy

[Ran Test Plan](https://docs.google.com/document/d/1W_RYL6j--nASVlxwJ4QWZpiZLPseKoxP5WAooANdlNU/edit?usp=sharing)

#####  New Features QA:
- Tested option to preserve import settings.
- Tested exporting an fbx outside the project.

#####  Fixes QA:
- Tested empty selection does not export in Autodesk® 3ds Max®.
- Tested null check for bones.
- Tested relative paths for textures in FBX files.
- Tested fix for Editor focus lockup when creating an FBX Prefab Variant on Mac.

### Package Status
- No new issues from current test plan or bugfixes.
