# Quality Report - FBX Exporter Package
## Version tested: 4.0.0

#### QA Owner: Rajat Goswamy
### Tested On: Windows, MacOS

### Test strategy

Ran TestRails test plan:
https://qatestrail.hq.unity3d.com/index.php?/runs/view/27326&group_by=cases:section_id&group_order=asc
https://qatestrail.hq.unity3d.com/index.php?/runs/view/27263&group_by=cases:section_id&group_order=asc
