# Quality Report - FBX Exporter Package
## Version tested: 4.1.0-pre.2

#### QA Owner: Félix Bourbonnais, Viktoria Kovecses
### Tested On: Windows, MacOS

### Test strategy

Ran TestRails test plan:
https://qatestrail.hq.unity3d.com/index.php?/plans/view/28805