# Quality Report - FBX Exporter Package
## Version tested: 2.0.4-preview

#### QA Owner: Alexis Morin
### Tested On: Windows, MacOS

### Test strategy

[Ran Test Plan](https://docs.google.com/document/d/1W_RYL6j--nASVlxwJ4QWZpiZLPseKoxP5WAooANdlNU/edit?usp=sharing)

#####  New Features QA:
- No new features

#####  Fixes QA:
- Tested the integrations for Max and Maya work again.

### Package Status
- No new issues from current test plan or bugfixes.
